* {
    box-sizing: border-box;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link-reset {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.button {
    color: white;
    background-color: #007bff;
    line-height: 1.5;
    border-radius: .3rem;
}

.button:hover{
    background-color: #0169D9;
    transition: .2s;
}

.big-btn {
    font-size: 1.25rem;
    padding: 10px 15px;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    align-content: space-between;
}

.container {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.header,
.footer {
    background: rgb(70, 70, 70);
    color: white;
}

.header {
    flex-basis: 100%;
}

.header .container {
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 1.5rem;
}

.header nav ul {
    display: flex;
}

.header nav a {
    padding: .5rem;
    color: rgb(255, 255, 255, 0.7);
}

.header nav a:hover {
    color: rgb(255, 255, 255, 1);
}

.hero {
    margin: 25px auto;
}

.hero .container {
    flex-flow: row wrap;
    align-items: space-between;
    background: #E9ECEF;
    padding: 65px 30px;
    border-radius: 5px;
}

.hero .container * {
    margin: 0 0 20px 0;
}

.hero .container *:last-child {
    margin-bottom: 0;
}

.hero h1 {
    font-size: 4.5rem;
    font-weight: normal;
}

.hero p {
    font-size: 1.25rem;
    font-weight: normal;
}

.card-container {
    margin-bottom: 1.25rem;
    margin-right: 2rem;
    text-align: center;
    position: relative;
    width: 100%;
}

.features .card-container:last-child {
    margin-right: 0;
}

.features .card-container .card {
    position: relative;
    height: 100%;
    flex: 0 0 25%;
    display: flex;
    flex-flow: nowrap column;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px 5px 0 0;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-body .card-title {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card-body .card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.card-footer {
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}

.card-footer .button {
    padding: .75rem 1rem;
    line-height: 1;
}

.footer {
    padding: 50px 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-promo {
    display: flex;
    margin: 0.75rem auto;
}

.business-promo .image-placeholder {
    flex: 0 0 65%;
    margin-right: 2rem;
}

.business-promo img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.promo-body {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 33%;
    max-width: 33%;
    justify-content: flex-start;
}

.promo-body>* {
    margin: 0 0 1rem 0;
}

.promo-body>*:last-child {
    margin-bottom: 0;
}

.promo-body .promo-title {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.promo-body .promo-text {
    line-height: 1.5;
    font-size: 1rem;
    flex: 0 0 auto;
}

.promo-body .button {
    align-self: flex-start;
}

.business-cards>.container {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.card-callout {
    width: 100%;
    background: #6C757D;
    padding: 1.25rem;
    color: white;
    text-align: center;
    border-radius: .25rem;
}

.business-cards .card-container {
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px 5px 0 0;
    margin: 1.25rem auto;
    width: 100%;
}

.business-cards .card {
    flex: 1 0 calc(100%/3 - 15px);
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-right: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.business-cards .card:last-child {
    margin-right: 0;
}

.business-cards .card-body{
    padding: 1.25rem;
}

.business-cards .card-title{
    font-size: 2rem;
    margin:  0 0 1.25rem 0;
}

.business-cards .card-text{
    line-height: 1.5;
}

.business-cards .card-footer{
    width: 100%;
}